/* Reset básico para garantir consistência entre navegadores */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos gerais do body */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f9f5ee;
  text-align: center;
}

/* Estilização do Header */
header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  background: #2c3e50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
  background: #1abc9c;
  color: #2c3e50;
}

/* Ajuste para garantir espaço abaixo do header */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5rem 0 5rem 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Estilização da carta */
.carta {
  background: #fff;
  padding: 20px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  margin: 20px 0 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.assinatura {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}
footer {
  width: 100%;
  padding: 10px;
  background: #2c3e50;
  color: white;
  text-align: center;
}
/* Responsividade para telas menores */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 15px;
  }

  nav ul li a {
    flex-direction: column;
  }

  .carta {
    width: 90%;
    padding: 15px;
  }
}
